*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image:url(image/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #FF00A8;
    text-align: center;
    border-style: solid;
    background-color: #10CAF3;
    margin: 20px;
    width: 20%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    display: flex;  
    justify-content: center;  
    color: white;
    border-style: solid;
    border-color: #FF00A8;
    border-radius: 64px;
    background-color: #10CAF3;
    margin: 1% 32% 0%;
    font-size: 29px;
    width: 50%;
    padding: 20px;
}
.list{
color: white;
float: right;
padding-left:71%
}
img{
    width: 8%;
    float: right;
    padding: 1% 2% 4% 73%;
}
input{
width: 400px;
height: 10px;
margin: 12px;
border: 3px solid #FF00A8;
border-radius: 12px;
padding: 17px;
background-color: #10CAF3;
color: white;

}
button{
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
width: 200px;
height: 33px;
margin: 4% 28% 2%;
background-color: #FF00A8;
color: white;

}
h3{
 color: white;
 text-align: center;
 border-style: solid;
 border-color: #FF00A8;
 background-color: #10CAF3;
 margin: 50px;
 width: 35%;
 font-size: 20px;
 padding: 1% 9% 1% 5%;

}